<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>boenklere needs your location to show your position on the map.</string>
	<key>NSCameraUsageDescription</key>
	<string>boenklere needs camera access to take photos for your listings.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>boenklere needs photo library access to select images for your listings.</string>
	<key>CFBundleDisplayName</key>
	<string>boenklere</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Outfit-Bold.otf</string>
	</array>
</dict>
</plist>
